@model List<CarServ.MVC.Models.Menu>

<ul class="navbar-nav ms-lg-5 me-auto">
    @foreach (var item in Model)
    {
        if (item.Children.Any())
        {
            <li class="nav-item dropdown">
                <a href="@item.MenuUrl" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    @item.MenuName
                </a>
                <div class="dropdown-menu border-0 shadow-lg m-0" style="border-radius: 12px;">
                    @foreach (var child in item.Children)
                    {
                        <a class="dropdown-item" href="@child.MenuUrl">@child.MenuName</a>
                    }
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="@item.MenuUrl">@item.MenuName</a>
            </li>
        }
    }
</ul>
